In [2]:
import pandas as pd

In [4]:
vines_df = pd.read_csv('vine_table.csv')
vines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [29]:
more_than_20_votes_df = vines_df.loc[(vines_df["total_votes"] >= 20)]
more_than_20_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302395,R3MS5E3IRFK9MN,1.0,6.0,45.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [31]:
filtered_df = more_than_20_votes_df.loc[(more_than_20_votes_df["helpful_votes"] / more_than_20_votes_df["total_votes"] >= .5)]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [32]:
paid_review_df = filtered_df.loc[(filtered_df["vine"] == "Y")]
paid_review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [33]:
unpaid_review_df = filtered_df.loc[(filtered_df["vine"] == "N")]
unpaid_review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [46]:
paid_tot_reviews = len(paid_review_df)
total_paid_reviews = "The Total Paid Reviews:  " + str(paid_tot_reviews)

five_star_paid = len(paid_review_df[paid_review_df["star_rating"] == 5.0])
total_paid_5star = "The Total 5 Star Paid Reviews:  " + str(five_star_paid)

percent_5star_paid = five_star_paid / paid_tot_reviews
percentage_5star_p = "The percentage of paid 5Star Reviews:  " + str(percent_5star_paid)

unpaid_tot_reviews = len(unpaid_review_df)
total_unpaid_reviews = "The Total Unpaid Reviews:  " + str(unpaid_tot_reviews)

five_star_unpaid = len(unpaid_review_df[unpaid_review_df["star_rating"] == 5.0])
total_unpaid_5star = "The Total 5 Star Unpaid Reviews:  " + str(five_star_unpaid)

percent_5_star_unpaid = five_star_unpaid / unpaid_tot_reviews
percentage_5star_up = "The percentage of unpaid 5Star Reviews:  " + str(percent_5_star_unpaid)

print(total_paid_reviews)
print(total_paid_5star)
print(percentage_5star_p)
print("\n")
print(total_unpaid_reviews)
print(total_unpaid_5star)
print(percentage_5star_up)

The Total Paid Reviews:  107
The Total 5 Star Paid Reviews:  56
The percentage of paid 5Star Reviews:  0.5233644859813084


The Total Unpaid Reviews:  39869
The Total 5 Star Unpaid Reviews:  21005
The percentage of unpaid 5Star Reviews:  0.5268504351751988